./*_cpp
*.r1cs
*.sym
proof.json
*.wasm
*witness.js
node_modules
*.zkey
*.ptau
*.wtns
.DS_Store
build
*.dev
passportVerification/input.json
input*.json
*.dev.zip
*.py
output.txt
*.zip
*-download
*.pem
*.crt
*.dev.json
zkit
typechain-types
generated-types
artifacts
cache
test/tests/inputs/*
temp_asn1.der
test/tests/__pycache__
!test/tests/*.py
!test/tests/inputs/credValidExceedsPassportInput.json
!test/tests/inputs/passportExpiredInput.json
!test/tests/inputs/isNotAdultInput.json
!test/tests/inputs/validInput.json
