./*_cpp
*.r1cs
*.sym
proof.json
*.wasm
*witness.js
node_modules
*.zkey
*.ptau
*.wtns
.DS_Store
build
*.dev
passportVerification/input.json
input*.json
*.dev.zip
*.py
output.txt
*.zip
*-download
*.pem
*.crt
*.dev.json
zkit
typechain-types
generated-types
artifacts
cache
tests/tests/inputs/*
temp_asn1.der
tests/tests/__pycache__
circuits/ecdsa/tmp/*
!tests/tests/*.py
!tests/tests/inputs/credValidExceedsPassportInput.json
!tests/tests/inputs/passportExpiredInput.json
!tests/tests/inputs/isNotAdultInput.json
!tests/tests/inputs/validInput.json
helpers/blacklist_generation/__pycache__
package-lock.json
test/passports/*
test/inputs/*
test/registerIdentityTest.ts
test/circuits/*
!test/passports/readme.txt
circuits/scripts/*